* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #b3e5fc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.left_side {
  background: #003147;
  padding: 40px;
  color: #fff;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.imgBx {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
}

.imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile h2 {
  font-size: 1.5em;
  margin-top: 10px;
  text-transform: uppercase;
  line-height: 1.4em;
}

.profile h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.contactInfo {
  margin-top: 20px;
}

.contactInfo .title {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.contactInfo ul {
  list-style: none;
}

.contactInfo ul li {
  margin: 10px 0;
  font-size: 0.9em;
}

.contactInfo.education ul li h5 {
  color: #03a9f4;
  font-weight: 500;
}

.contactInfo.education ul li h4 {
  font-weight: 400;
}

.right_side {
  background: #fff;
  padding: 40px;
  color: #333;
}

.about {
  margin-bottom: 40px;
}

.title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.about .box {
  display: flex;
  margin-bottom: 20px;
}

.year_company {
  min-width: 150px;
}

.year_company h5 {
  text-transform: uppercase;
  font-weight: 500;
  color: #848c90;
}

.text h4 {
  color: #2a7da2;
  font-size: 1.1em;
  text-transform: uppercase;
}
